.searchContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  border-radius: 18px;
  padding: 0 16px;
  height: 44px;
  background: var(--container-fill);
  backdrop-filter: blur(8px);
  z-index: 20;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--primary-text);
    background: transparent;
  }
}

.inputField {
  composes: searchContainer;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: translate(calc(-50% + 50vw), var(--top));
}

.translatedInputField {
  animation: moveInputFieldMobile 1s ease-in-out forwards;
}

@keyframes moveInputFieldMobile {
  from {
    transform: translate(calc(-50% + 50vw), var(--top));
  }
  50% {
    transform: translate(calc(-50% + 50vw), 76px);
  }
  to {
    transform: translate(calc(-50% + 50vw), 76px);
  }
}

@keyframes moveInputFieldDesktop {
  from {
    transform: translate(calc(-50% + 50vw), var(--top));
  }
  50% {
    transform: translate(
      271px,
      64px
    ); /* 48px (header height) + 16px (padding) */
  }
  to {
    width: calc(100% - 255px - 32px);
    transform: translate(271px, 64px);
  }
}

@media (min-width: 768px) {
  .inputField {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .inputField {
    width: 584px;
  }

  .translatedInputField {
    animation: moveInputFieldDesktop 1s ease-in-out forwards;
  }
}
